@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
$bg-color: #0b1321;
$secondary-color: #8cefe9;
$para-color: #8b95a6;
$white: #fff;
$black: #000;
$main-font: "Poppins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $bg-color;
  font-family: "Poppins";
  overflow-x: hidden;
}
#main {
  background: url(../imgs/ea26fd_09f49b12a4884ad6b1916320bb246053_mv2.webp)
    no-repeat;
  background-size: cover;
  //   height: 100vh;
  width: 100vw;
  padding: 2rem;
  .main-div {
    .main-head {
      color: $secondary-color;
    }
  }
  .row {
    margin: 2rem 0;
  }
  .card {
    border-radius: 0.8rem;
    border: none;
    // width: 18rem;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    // color: white;
    padding: 1rem;
  }
  .card-head {
    text-align: center;
    padding: 1rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../imgs/971.jpg);
    background-size: cover;
    // height: 13rem;
    color: $white;
    flex-direction: column;
    img {
      width: 80px;
      border: 3px solid white;
      border-radius: 0.8rem;
      border-radius: 0.9rem;
      margin-bottom: 1rem;
    }
  }
  .head-div {
    margin-bottom: 2rem;
  }
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-body {
    flex-direction: column;
    p {
      color: $para-color;
    }
    a {
      background-color: $secondary-color;
      padding: 15px 25px;
      border-radius: 2rem;
      //   border-radius: ;
    }
  }
}
@media screen and(max-width:425px) {
  .col {
    margin-bottom: 2rem;
  }
}
